<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="page">
    <h2 class="title">Edit Your Post</h2>

    <div class="form-card">
        <p class="meta">Post ID: <%= post.id %></p>
        <h3 class="user">@<%= post.username %></h3>

        <form method="POST" action="/posts/<%= post.id %>?_method=PATCH">
            <textarea class="input textarea" name="content"><%= post.content %></textarea>

            <button class="btn primary">Update</button>
        </form>
    </div>
</div>

</body>
</html>
